<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
	<!-- 注册目标 -->
	<bean id="jay" class="com.javaee.aop.Singer">
		<property name="name" value="周杰伦"></property>
	</bean>
	<bean id="zuo" class="com.javaee.aop.Teacher">
		<property name="name" value="左向荣老师"></property>
	</bean>
	<!-- 注册通知 -->
	<bean id="agent" class="com.javaee.aop.Agent"></bean>
	
	<!-- 配置启用AOP注解 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
</beans>